@page "/"
@inject QuestResourses resourses
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<div class="d-flex flex-column col-4">
    <button class="btn btn-primary p-1 m-2" @onclick=@New>
        <span class="oi oi-file"></span>
        Новый квест
    </button>
    <button class="btn btn-primary p-1 m-2" @onclick=@LoadExample>
        <span class="oi oi-external-link"></span>
        Загрузить пример
    </button>
     <button class="btn btn-primary p-1 m-2" @onclick=@OpenFile>
        <span class="oi oi-folder"></span>
        <InputFile OnChange="@LoadFiles" multiple />
    </button>
    <button class="btn btn-primary p-1 m-2" @onclick=@SaveOnPCJson>
        <span class="oi oi-cloud-download"></span>
        Сохранить на компьютер JSON
    </button>
    <button class="btn btn-primary p-1 m-2" style="display: none;">
        <span class="oi oi-cloud-upload"></span>
        Сохранить на сервер
    </button>
</div>


@code
{
    private void New()
    {
        resourses.Initialize();
    }
    private async void LoadExample()
    {
        var loadedData = await Http.GetFromJsonAsync<QuestResourses>(
            "./sample-data/example_quest_data.json", 
            JsonSerializerHelper.JsonSerializerOptions);
            
        resourses.CopyFrom(loadedData);
    }


    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        using(var stream = new StreamReader(e.File.OpenReadStream()))
        {
            var json = await stream.ReadToEndAsync();
            var resoursesLoaded = QuestResourses.FromFile(json);
            resourses.CopyFrom(resoursesLoaded);
        }
    }

    private void OpenFile()
    {

    }

    private async void SaveOnPCJson()
    {
        var fileName = "quest_data.json";
        var fileContent = resourses.Serialize();
        await JSRuntime.InvokeAsync<object>(
            "FileSaveAs",
            fileName,
            fileContent
        );
    }

    private async void SaveOnPCZip()
    {
        var fileName = "quest_data.txt";
        var fileContent = resourses.SaveZip();
        await JSRuntime.InvokeAsync<object>(
            "FileSaveAs",
            fileName,
            fileContent
        );
    }
}