@page "/languges"
@inject QuestResourses resourses
@using editor.Models

<h3>Языки</h3>

@if (resourses.Languages == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in resourses.Languages)
            {
                <tr>
                    <td><button @onclick="() => DeleteLanguage(language)" class="btn badge-danger">Удалить</button></td>
                    <td>@language.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <td><input @bind-value="newLanguage.Name" /></td>
                <td><button @onclick="AddLanguage" class="btn badge-primary">Добавить</button></td>
            </tr>
        </tbody>
    </table>
}

@code {

    private Language newLanguage = new Language();

    private void AddLanguage()
    {
        resourses.Languages.Add(newLanguage);
        newLanguage = new Language();
    }

    private void DeleteLanguage(Language language)
    {
        resourses.Languages.Remove(language);
    }
}