@inject QuestResoursesTrecker trecker
@implements IDisposable


<button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="navbar-nav flex-row">
        @if(hasChanged)
        {
            <li>
                <div class="alert alert-warning" >
                    <span class="oi oi-warning"></span>
                </div>
            </li>
        }

        <li >
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Главная
            </NavLink>
        </li>
        <li >
            <NavLink class="nav-link" href="variables">
                Переменные
            </NavLink>
        </li>
        <li >
            <NavLink class="nav-link" href="journalRecord">
                Журнал
            </NavLink>
        </li>
        <li >
            <NavLink class="nav-link" href="images">
                Изображения
            </NavLink>
        </li>
        <li >
            <NavLink class="nav-link" href="dialogs">
                Диалоги
            </NavLink>
        </li>
        <!--li >
            <NavLink class="nav-link" href="runtestgame">
                Протестировать
            </NavLink>
        </li-->
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool hasChanged {get; set;}

    private void OnChanged(bool value)
    {
        Console.WriteLine(value);
        hasChanged = value;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        trecker.OnChenged += OnChanged;
    }

    public void Dispose()
    {
        trecker.OnChenged -= OnChanged;
    }
}
    