

<div class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите действие</h5>
                <button @onclick="async () => await CloseDialog.InvokeAsync()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="oi oi-x"></span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                @foreach (var action in Actions())
                {
                    <button class="btn" @onclick="async () => {await OnApplay.InvokeAsync(action);  await CloseDialog.InvokeAsync(); }">@action.Name</button>
                }
            </div>
        </div>
    </div>
</div>

@code{

    public IEnumerable<IAction> Actions()
    {
        yield return new CloseDialog();
        yield return new SetDialogState();    
        yield return new ChengeVariable();  
        yield return new AddJournalRecord();
    }

    [Parameter]
    public IAction SelectAction {get; set;}

    [Parameter]
    public EventCallback<IAction> OnApplay { get; set; }

    [Parameter]
    public EventCallback CloseDialog { get; set; }
}